@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
  font-family: 'Oswald';
  background: #28313b;
}



.recipes-container {
  padding-left: 120px;
}


.all-classes-container {
  padding-left: 120px;

}

.recipes-h1 {
  text-align: center;
  font-size: 40px;
  color: azure;
  
}

.dashboard-h1 {
  text-align: center;
  color: azure;
  font-size: 40px;

}

.login-h1 {
  text-align: center;
  color: azure;
  font-size: 40px;

}

.signup-h1 {
  text-align: center;
  color: azure;
  font-size: 40px;

}
.my-classes-container {
  padding-left: 50px;
}

.card {
  padding-left: 30px;
}

.recipe-image {
  opacity: 0.9;
}

.profile-image {
  opacity: 0.9;
}

.navbar {
  color: azure;
}


.add-a-recipe-h1 {
  text-align: center;
  color: azure;
  font-size: 40px;

}

.all-cooking-classes-h1 {
  text-align: center;
  color: azure;
  font-size: 40px;

}

.cooking-class-form-h1 {
  text-align: center;
  color: azure;
  font-size: 40px;

}

.comments {
  text-align: center;
}

