body {

  background: #fffafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recipes-container {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-title {
  color: blueviolet;
}
